@model USParks.Models.Attraction.AttractionDetail

@{
    ViewBag.Title = "Attraction Delete";
}
<style>
    .style {
        color: snow;
        font-family: 'Comic Sans MS'
    }

    .back {
        color: snow;
        font-size: 15px;
        font-family: 'Comic Sans MS';
        background-color: #617ebc;
        padding: 5px 5px;
        border-radius: 10%;
    }

        .back:hover {
            background-color: #6c8cd1;
            text-decoration: none;
            color: cyan;
        }
</style>
<h2 class="style">Attraction Delete</h2>
<h4 class="style">Your About to delete an attraction... Are you sure?</h4>
<div class="style">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttractionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttractionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Attraction List", "Index", new { area = "" }, new { @class = "back" }) |
            @Html.ActionLink("Back to Attraction's Park", "Details", "Park", new { id = Model.ParkId }, new { @class = "back" })
        </div>
    }
</div>
