@model IEnumerable<USParks.Models.Attraction.AttractionListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttractionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AttractionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new {  id=item.AttractionId  }) |
            @Html.ActionLink("Edit", "Edit", new {  id=item.AttractionId  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.AttractionId  })
        </td>
    </tr>
}

</table>
