@model USParks.Models.Park.ParkDetail

@{
    ViewBag.Title = "Park Detail";
}
<style>
    .bigstyle {
        color: snow;
        font-family: 'Comic Sans MS';
        font-weight: 700;
    }

    .style {
        color: snow;
        font-family: 'Comic Sans MS';
        padding-left: 30px;
    }

    .rtable {
        float: right;
        table-layout: fixed;
        border: 1px solid #cabe9b;
        width: 300px;
        margin: .5em 0 1em 1em;
        border-collapse: collapse;
        word-break: break-word;
        background-color: #313e59;
    }

        .rtable td {
            padding: 0em 0.5em;
            line-height: 1.6em;
            font-size: 14px;
        }

    .tbody {
        font-size: 0.85em;
        color: snow;
        font-family: 'Comic Sans MS';
    }

    .tablehead {
        font-size: 1.15em;
        line-height: 1.4em;
        padding: .5em 0;
        background-color: #222e45;
        color: snow;
        text-align: center;
    }

    .tablepad {
        height: 0.5em;
        padding: 0;
        border: 0;
    }

    .tableimage {
        max-width: 300px;
        text-align: center;
        overflow: hidden;
        padding: 0;
    }

    .tablenames {
        text-align: right;
        vertical-align: top;
        border-right: 2px solid #b8a282;
        padding: 0.5em 0.5em;
        font-size: 14px;
    }

    .detailtable {
        background-color: #313e59;
        float: left;
        width: 100%;
        max-width: 100%;
    }
    .natureh {
        color: snow;
        padding-right: 20px;
        margin-right: 20px;
        font-weight: bold;
    }
    .natureh h4{
        font-weight: bold;
        font-family: 'Comic Sans MS';
    }
    .natureitems {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        flex-wrap: wrap;
        
        
    }
    .natureitems li{
        list-style:none;
        color: snow;
        font-family: 'Comic Sans MS';
    }
    .parknatbuttons {
        color: snow;
        font-size: 15px;
        font-family: 'Comic Sans MS';
        background-color: #617ebc;
        padding: 5px 5px;
        border-radius: 10%;
    }

        .parknatbuttons:hover {
            background-color: #6c8cd1;
            text-decoration: none;
            color: cyan;
        }
</style>

<div>
    <table class="rtable">
        <tbody class="tbody">
            <tr>
                <th colspan="30" class="tablehead">@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.parkType) Park @Html.ActionLink("Edit", "Edit", new { id = Model.ParkId }, new { @class = "parknatbuttons" })</th>           
            </tr>
            <tr>
                <td colospan="30" class="tablepad"></td>
            </tr>
            <tr>
                <td colspan="30" class="tableimage"><img src="/Park/RetrieveImage/@Model.ParkId" alt="" height=150 width=280 /></td>
            </tr>
            <tr>
                <td colspan="30" class="tablepad"></td>
            </tr>
            <tr>
                <th colspan="10" class="tablenames">@Html.DisplayNameFor(model => model.ParkId)</th>
                <td colspan="20">@Html.DisplayFor(model => model.ParkId)</td>
            </tr>
            <tr>
                <th colspan="10" class="tablenames">@Html.DisplayNameFor(model => model.Name)</th>
                <td colspan="20">@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th colspan="10" class="tablenames">@Html.DisplayNameFor(model => model.parkType)</th>
                <td colspan="20">@Html.DisplayFor(model => model.parkType)</td>
            </tr>
            <tr>
                <th colspan="10" class="tablenames">@Html.DisplayNameFor(model => model.Location)</th>
                <td colspan="20">@Html.DisplayFor(model => model.Location)</td>
            </tr>
            <tr>
                <th colspan="10" class="tablenames">@Html.DisplayNameFor(model => model.Size)</th>
                <td colspan="20">@Html.DisplayFor(model => model.Size)</td>
            </tr>
            <tr>
                <th colspan="10" class="tablenames">@Html.DisplayNameFor(model => model.YearlyVisitors)</th>
                <td colspan="20">@Html.DisplayFor(model => model.YearlyVisitors)</td>
            </tr>
        </tbody>
    </table>

    <div>
        <h2 class="bigstyle">@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.parkType) Park</h2>
        <h4 class="style">@Html.DisplayFor(model => model.Description)</h4>
    </div>

    <div style="border-bottom: 1px solid #b8a282" class="natureh">
        <h4>Nature found within the park: </h4>
        @Html.ActionLink("Add Nature Park", "Create", "ParkNature")
        <p class="empty"></p>
    </div>

    <div class="natureitems">
        @foreach (var nature in Model.Nature)
        {
            <ul>
                <li>
                    <img src="/Nature/RetrieveImage/@nature.NatureId" alt="" height=80 width=100 />
                </li>
                <li style="text-align:center">
                    @Html.DisplayFor(modelnature => nature.NatureName)
                </li>
                <p class="empty"></p>
                <li>
                    @Html.DisplayNameFor(model => model.Nature.First().NatureId): @Html.DisplayFor(modelnature => nature.NatureId)
                </li>
                <li>
                    @Html.ActionLink("Details", "Details", "Nature", new { id = nature.NatureId }, null) |
                    @Html.ActionLink("Delete", "Delete", "ParkNature", new { id = nature.ParkNatureId }, null)
                </li>
                <p class="empty"></p>
            </ul>
        }
    </div>

    <div style="border-bottom: 1px solid #b8a282" class="natureh">
        <h4>Attractions found within the park: </h4>
        @Html.ActionLink("Add Attraction to Park", "Create", "Attraction")
        <p class="empty"></p>
    </div>
    
    <div class="natureitems">
        @foreach (var attraction in Model.Attractions)
        {
        <ul>
            <li>
                <img src="/Attraction/RetrieveImage/@attraction.AttractionId" alt="" height=80 width=100 />
            </li>
            <li>
                @Html.DisplayFor(modelattraction => attraction.Name)
            </li>
            <p class="empty"></p>
            <li>
                @Html.DisplayNameFor(model => model.Attractions.First().AttractionId): @Html.DisplayFor(modelnature => attraction.AttractionId)
            </li>
            <li>
                @Html.ActionLink("Details", "Details", "Attraction", new { id = attraction.AttractionId }, null) |
                @Html.ActionLink("Edit", "Edit", "Attraction", new { id = attraction.AttractionId }, null) |
                @Html.ActionLink("Delete", "Delete", "Attraction", new { id = attraction.AttractionId }, null)
            </li>
            <p class="empty"></p>
        </ul>
        }
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "parknatbuttons" })
    </p>
